@model List<MunicipalityWebsite.Models.Staff>

<link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
<style>
	body {
		align-items: center;
		margin: 10px;
		display: flex;
	}
</style>
<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/Citizen/Index">Citizens</a></li>
		<li><a href="/Staff/Index">Staff</a></li>
		<li><a href="/Reports/Index">Reports</a></li>
		<li><a href="/Service/Index">Service</a></li>
	</ul>
</nav>

<div class="AllCitizens">
	<h2>Staff List</h2>
	<div class="centerTable">
		<table>
			<tr>
				<th>StaffID</th>
				<th>FullName</th>
				<th>Position</th>
				<th>Department</th>
				<th>Email</th>
				<th>PhoneNumber</th>
				<th>HireDate</th>
			</tr>
			@foreach (var staff in Model)
			{
				<tr>
					<td>@staff.StaffID</td>
					<td>@staff.FullName</td>
					<td>@staff.Position</td>
					<td>@staff.Department</td>
					<td>@staff.Email</td>
					<td>@staff.PhoneNumber</td>
					<td>@staff.HireDate.ToShortDateString()</td>
				</tr>
			}
		</table>
	</div>
</div>


<div class="inputFields">
	<form action="/Staff/CreateStaff" method="post">

		<button type="button" class="collapsible"><b>Create new Staff</b></button>
		<div class="content">
			<div class="Content-wrapper">

				<label for="FullName">FullName</label>
				<input type="text" id="FullName" name="FullName" required />

				<label for="Position">Position</label>
				<input type="text" id="Position" name="Position" required />

				<label for="Department">Department</label>
				<input type="text" id="Department" name="Department" required />

				<label for="Email">Email</label>
				<input type="email" id="Email" name="Email" required />

				<label for="PhoneNumber">PhoneNumber</label>
				<input type="tel" id="PhoneNumber" name="PhoneNumber" required />

				<button type="submit">Submit</button>

			</div>
		</div>
	</form>


	<form action="/Staff/EditStaff" method="post">

		<button type="button" class="collapsible"><b>Edit Staff</b></button>
		<div class="content">
			<div class="Content-wrapper">

				<label for="StaffID">Staff ID</label>
				<input type="number" id="StaffID" name="StaffID" required />

				<label for="FullName">Full Name</label>
				<input type="text" id="FullName" name="FullName" required />

				<label for="Position">Position</label>
				<input type="text" id="Position" name="Position" required />

				<label for="Department">Department</label>
				<input type="text" id="Department" name="Department" required />

				<label for="Email">Email</label>
				<input type="email" id="Email" name="Email" required />

				<label for="PhoneNumber">PhoneNumber</label>
				<input type="tel" id="PhoneNumber" name="PhoneNumber" required />

				<button type="submit">Update Citizen</button>

			</div>
		</div>
	</form>


	<form action="/Staff/DeleteStaff" method="post">
		<button type="button" class="collapsible"><b>Delete Staff</b></button>
		<div class="content">
			<div class="Content-wrapper">
				<label for="StaffID">StaffID</label>
				<input type="number" id="StaffID" name="StaffID" required />

				<button type="submit" onclick="return confirm('Are you sure you want to delete this staff?')">
					Delete Staff
				</button>
			</div>
		</div>
	</form>


	<form action="/Staff/GetDetailsStaff" method="get">
		<button type="button" class="collapsible"><b>Staff Details</b></button>
		<div class="content">
			<div class="Content-wrapper">
				<label for="StaffID">StaffID</label>
				<input type="number" id="StaffID" name="StaffID" required/>
				<button type="submit">Get Details</button>
			</div>
		</div>
	</form>
</div>

<script>
	var coll = document.getElementsByClassName("collapsible");
	var i;

	for (i = 0; i < coll.length; i++) {
		debugger
		coll[i].addEventListener("click", function () {
			this.classList.toggle("active");
			var content = this.nextElementSibling;
			if (content.style.display === "block") {
				content.style.display = "none";
			} else {
				content.style.display = "block";
			}
		});
	}
</script>